
  nav{
    position: sticky;
    z-index: 12;
  }


  .main-content{
    padding: 2rem;
  }
  
  .nav-item{
    padding-bottom: .9rem;
  }
    .nav-link{
      font-size: 14px;
      line-height: 16.8px;
      padding: .8rem 2rem;
      color: #A6ABB2;
    }
    .nav-link:hover{
      background: #FFFFFF;
      color: #A6ABB2;
      transition: 2ms ease-in-out;
    }
   .nav-link.active {
      background: #F5F5F5;
      color: #2A2A2A;
      font-weight: 600;
    }
    .list__title{
      padding: .8rem 2rem;
      font-weight: 600;
    }
  


    @media only screen and (max-width: 900px){
        /* .side-bar.mobile{
          position: absolute;
        height: 100%;
        width: 100%;
    }
    .top-wrap{
      display: flex;
      justify-content: space-around;
      align-items: center;
    } */
  }
  