
  nav{
    position: sticky;
    z-index: 12;
  }

  .main-content{
    padding: 2rem;
  }
  
  .nav-item{
    padding-bottom: .9rem;
  }
    .nav-link{
      font-size: 14px;
      line-height: 16.8px;
      padding: .8rem 2rem;
      color: #A6ABB2;
    }
    .list__title{
      padding: .8rem 2rem;
    }
  
  /* .nav-link.active{
    background: #F5F5F5;
      color: #A6ABB2;
  }
  .nav-link:hover{
    background: white;
    color: #2A2A2A;
    transition: 1ms ease-in-out;
  } */