
  nav{
    position: sticky;
    z-index: 12;
  }

  .main-content{
    padding: 2rem;
  }
  

  .nav-item{
    padding-bottom: 1rem;
  }
    .nav-link{
      color: #625f6e;
      font-size: 17px;
    }
    .nav-link:hover{
      color: var(--bg-primary);
      font-size: 17px;
      transition: 1ms ease-in-out;
    }
  .nav-link.active{
    background: #fff;
      color: #A6ABB2;
      /* box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%); */
      /* border-radius: 4px; */
  }