
.logo-link{
    height: 92px;
   }
   .logo-link img{
     width: 100%;
     height: 100%;
   }
  
   .side-bar .list-wrap{
    display: flex;
    flex-wrap: wrap;
     flex-direction: column;
    transform: translateY(2rem);
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
   }

  .sidebar-sticky {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: .428rem;
    position: sticky;
    top: 6px;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #F5F5F5;
  }
  .logo-link{
    display: flex;
    align-items: center;
    align-content: center;
    height: 45px;
    text-decoration: none;
    margin-left: 35px;
  }
  .logo-text{
    color: #7367f0;
    font-weight: 600;
    letter-spacing: .01rem;
    font-size: 1.15rem;
    padding: 0 10px;
  }



  @media only screen and (max-width: 950px){


.left-header{
  text-align: center;
}

  }

  @media only screen and (max-width: 768px){
    .sidebar-sticky {
      height: 100%;
  }
  .side-bar .list-wrap{
    flex-direction: row ;
    justify-content: center;
    margin-bottom: 20px;
  }
  .logo-link{
    justify-content: center;
    margin: 0;
  }
  .img-wrap {
    height: auto;
    width: 60px;
}

}

