.bals__text, .payout__text{
    color: #2A2A2A;
    font-weight: 600;
}
.bals__date{
    color: #A6ABB2;
    font-size: 12px;
    font-weight: 400;
}


.list__items{
    border: 1px solid red;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.list__items:nth-child(1){
    margin-right: 12px;
    background: #F5F5F5;
    border: none;
}

.payout-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter__form{
    display: flex;

    .search__wrap{
        margin-right: 15px;
    }
    .date__wrap{
        margin-right: 30px;
    }
    .search, .filter__date{
        width: 300px;
        height: 42px;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #A6ABB2;
    }
    .search::placeholder{
        color: #A6ABB2;
    }
    .filter__date{
        width: 117px;
        height: 42px;
    }
    .btn__payout{
        width: 104px;
        height: 42px;
        background: #3D8F83;
        border-radius: 4px;
        color: white;
    }
}

.table-wrap{
    margin-top: 1.5rem;
}

.borderless td {
    padding-bottom: 1rem;
    font-weight: 300;
    font-size: 17px;
    line-height: 21.6px;
    padding-top: 40px;
    padding-bottom: 22px;

}
.thead{
    background: #F5F5F5;
    line-height: 42px;
}



@media only screen and (max-width: 980px){
    .sidebar-sticky {
      height: 100%;
  }
}